<div class="row">
  <div class="col-md-3">
    <input class="input" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)">
    <button type="button" class="btn-upload"  (click)="file.click() ">Upload File</button>
    <button type="button" class="btn-canc" *ngIf="showCancelBtn" (click)="unsubscribeResponce()">Cancel Process</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>
